@rendermode InteractiveServer

<div class="card p-2">
    <p>Categories</p>
    @if (Categories is not null)
    {
        if (!Categories.Any())
        {
            <p>No categories found.</p>
        }
        else
        {
            foreach (var category in Categories)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           id="cat-@category.Name.ToLower()" @onchange="() => HandleCheckboxChange(category)"/>
                    <label class="form-check-label" for="cat-@category.Name.ToLower()">
                        @category.Name
                    </label>
                </div>
            }
        }
    }
    else
    {
        <p>Loading...</p>
    }
    <br/>
</div>
