@page "/"
@using MyAcademy.Components.Pages.Home.Components
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: flex-start; flex-direction: row">
    <CategoriesFilter
        Categories="Categories"
        OnSelectionChanged="HandleSelectionChanged"/>
    <div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p>@ErrorMessage</p>
        }

        @foreach (var course in Summaries)
        {
            <CourseSummaryCard Course="course"/>
        }
    </div>
</div>