<div class="card d-flex">
    <div class="card-body flex-grow-1">
        <h5 class="card-title">@Item?.Title</h5>
        <p class="card-text">@Item?.Price €</p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-danger" @onclick="OnRemoveCallback">Remove</button>
    </div>
</div>