@page "/"
@rendermode InteractiveServer

@code {

    private void Callback2()
    {
        throw new NotImplementedException();
    }

}

<PageTitle>Home</PageTitle>

<div style="display: flex; justify-content: flex-start; flex-direction: row">
    <div class="card p-2">
        <label>Search</label>
        <input type="text" @bind="SearchTerm" @bind:event="oninput" placeholder="Rechercher..." class="form-control"/>
        <br/>
        <p>Categories</p>
        @foreach (var category in CategoriesSelected)
        {
            <div class="form-check">
                <input class="form-check-input" checked="@category.Value" type="checkbox" value=""
                       id="cat-@category.Key.Name.ToLower()">
                <label class="form-check-label" for="cat-@category.Key.Name.ToLower()">
                    @category.Key.Name
                </label>
            </div>
        }
        <br/>
        <p>Langues</p>
        <p>toto</p>
        <button type="button" @onclick="Callback2">Clik</button>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p>@ErrorMessage</p>
        }

        @foreach (var course in Summaries)
        {
            <CourseSummaryCard Course="course"/>
        }
    </div>
</div>